<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rclone_Mount.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Rclone_Mount.Properties.Settings>
            <setting name="Drive" serializeAs="String">
                <value>Z:</value>
            </setting>
            <setting name="Cache" serializeAs="String">
                <value />
            </setting>
            <setting name="Remote" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CacheMode" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="CacheTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxAge" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DropBoxBatchMode" serializeAs="String">
                <value>Sync</value>
            </setting>
        </Rclone_Mount.Properties.Settings>
    </userSettings>
</configuration>